[package]
name = "rust"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
image = "0.23.14"
rayon = "1.5.1"
ultraviolet = "0.8.1"
wide = "0.6.5"
rand = "0.8.4"

[[bin]]
name = "rust"
path = "main.rs"

[profile.release]
debug = 1
